In [1]:
import os
import re
import pandas as pd
from collections import defaultdict
import sqlite3

In [2]:
yw_model_file = "example_sql/get_itrdb_data/get_itrdb_data.P"

db_model = yw_model_file[:-2] + '.db'
#print(db_model)
conn = sqlite3.connect(db_model)

### Functions for parsing the yw models file.

In [3]:
### function extracting the programs.

def extract_steps(line):
    
    #% FACT: program(program_id, program_name, qualified_program_name, begin_annotation_id, end_annotation_id).
    #print("Extracting steps.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    
    data = data.split(',')
    #print(data)
    
    
    ins_query = [data[0].strip().strip("'"),data[1].strip().strip("'"),data[2].strip().strip("'")]
    conn.execute("""insert into steps values(?,?,?)""", ins_query)
    conn.commit()
    return

In [4]:
### function extracting the workflow.

def extract_workflows(line):
    
    #print(line)
    data = line[line.index("(")+1:line.index(")")]
    number = ''.join(data)
    
    conn.execute("""insert into workflow values(?)""",[number])
    conn.commit()
      
    return

In [5]:
### function extracting the ports

def extract_ports(line):
    #print("Extracting ports.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    
    #% FACT: port(port_id, port_type, port_name, qualified_port_name, port_annotation_id, data_id).
    
    data = data.split(',')
    
    if data[1].strip().strip("'").upper().strip('"') == 'PARAM':
        port_type = 'IN'
    else:
        port_type = data[1].strip().strip("'").upper().strip('"')
    
    ins_query = [data[0].strip().strip("'"),port_type,data[2].strip().strip("'"),data[3].strip().strip("'")
                 ,data[4].strip().strip("'"),data[5].strip().strip("'")]
    conn.execute("""insert into port values(?,?,?,?,?,?)""", ins_query)
    conn.commit()
    return

In [6]:
### function extracting the input ports

def input_ports(line):
    #print("Extracting Input ports.")
    
    ## Extract data between "(" and ")".
    ## % FACT: has_in_port(step_id, port_id).

    data = line[line.index("(")+1:line.index(")")]
    
    data = data.split(',')
    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into has_in_port values(?,?)""", ins_query)
    conn.commit()
    
    #in_ports[data[0]].append((data[0].strip(), data[1].strip()))
    
    return

In [7]:
### function extracting the output ports 

def output_ports(line): 
    #print("Extracting output ports.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into has_out_port values(?,?)""", ins_query)
    conn.commit()
    #out_ports[data[0]].append((data[0].strip(), data[1].strip()))
    #print(data)
    return

In [8]:
### function extracting the subprograms 

def has_subprogram(line): 
    #print("Extracting output ports.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    
    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into has_subprogram values(?,?)""", ins_query)
    conn.commit()
    
    return

In [9]:
### function extracting the output ports 

def get_port_connects_to_channel(line): 
     
    data = line[line.index("(")+1 : line.index(")")]
    data = data.split(',')

    ins_query = [data[0].strip().strip("'"),data[1].strip().strip("'")]
    conn.execute("""insert into port_connects_to_channel values(?,?)""", ins_query)
    conn.commit()
    
    return

In [10]:
def get_inflow_connections(line): 
     
    #print(line)
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    #inflow_conn[data[0]]= data[1].strip()
    
    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into inflow_connects_to_channel values(?,?)""", ins_query)
    conn.commit()
    
    return

In [11]:
def get_outflow_connections(line): 
    #print("Extracting output ports.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    #outflow_conn[data[0]]= data[1].strip()

    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into outflow_connects_to_channel values(?,?)""", ins_query)
    conn.commit()
    return

In [12]:
### function extracting the output ports 

def get_port_data(line): 
    #print("Extracting output ports.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    
    ins_query = [data[0].strip().strip("'"),data[1].strip().strip("'"),data[2].strip().strip("'")]
    conn.execute("""insert into data values(?,?,?)""", ins_query)
    conn.commit()
    #print(data)
    return

In [13]:
### function extracting the output ports 

def get_channel(line): 
    #print("Extracting output ports.")
    ## Extract data between "(" and ")".
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    
    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into channel values(?,?)""", ins_query)
    conn.commit()
    #channel[data[0]]= data[1].strip()
    #print(data)
    return

In [14]:
### function extracting the port alias

def port_alias(line):
    data = line[line.index("(")+1:line.index(")")]
    data = data.split(',')
    
    port_id = data[0].strip()
    alias = data[1].strip().strip("'")
    
    #print(port_name, port_id,qualified_name)
    
    ins_query = [data[0].strip().strip("'").strip('"'),data[1].strip().strip("'").strip('"')]
    conn.execute("""insert into port_alias values(?,?)""", ins_query)
    conn.commit()
    
    '''
    ### regex for splitting the string and getting qualified program name
    regex = re.compile(r'>|<')
    qname = regex.split(qualified_name)
    
    pname = qname[0].split('.')[-1] 
    
    if pname.find('-') > -1:
        port_alt_name[alias] = pname[:-1]+ '/' +port_name
    else:
        port_alt_name[alias] = pname + '/' +port_name
       
    '''
    return

In [15]:
def read_yw_model(filename):
    regex = re.compile(r'^%')
    chk_channel = re.compile(r'^ch')
    with open(filename, "r") as yw_struct:
        line = yw_struct.readline()
        while line:
            #print(line)
            comments = regex.match(line)
            if comments: 
                #print(line)
                line = yw_struct.readline()
            else:  
                if("program(" in line and "has_subprogram" not in line):
                    extract_steps(line)
                elif("workflow(" in line):
                    extract_workflows(line)            
                elif("has_subprogram(" in line):
                    has_subprogram(line)            
                elif("port(" in line  and "has_in_port(" not in line and "has_out_port" not in line):
                #    print(line)
                    extract_ports(line)
                elif("has_in_port(" in line):
                    input_ports(line)
                elif("has_out_port(" in line ):
                    output_ports(line)
                elif ("port_alias(" in line ): 
                    port_alias(line)
                elif("data(" in line):
                    get_port_data(line)
                elif("port_connects_to_channel(" in line):
                    #print(line)
                    get_port_connects_to_channel(line)
                elif("inflow_connects_to_channel("in line):
                    #print(line)
                    get_inflow_connections(line)                    
                elif("outflow_connects_to_channel("in line):
                    get_outflow_connections(line)
                elif( chk_channel.match(line) ):
                    get_channel(line)

                line = yw_struct.readline()
        
        #get_in_out_ports()

In [16]:
conn.commit()
conn.execute (''' drop table channel ''')                    
conn.execute (''' drop table data  ''')                 
conn.execute (''' drop table has_in_port ''')                  
conn.execute (''' drop table has_out_port ''')                
conn.execute (''' drop table has_subprogram ''')              
conn.execute (''' drop table inflow_connects_to_channel ''')  
conn.execute (''' drop table outflow_connects_to_channel ''')
conn.execute (''' drop table port ''')
conn.execute (''' drop table port_alias ''')
conn.execute (''' drop table port_connects_to_channel ''')
conn.execute (''' drop table steps ''')
conn.execute (''' drop table workflow ''')
conn.execute (''' drop table cwl_steps_info ''')
conn.execute (''' drop table wf_ports ''')
conn.execute (''' drop table qual_portname ''')
conn.commit()

In [17]:
## Create tables for storing the data model. 



# % FACT: program(program_id, program_name, qualified_program_name, begin_annotation_id, end_annotation_id).
conn.execute("""create table steps (
                program_id      int     primary key not NULL ,
                program_name      text,
                qualified_program_name  text)
            """)

#% FACT: workflow(program_id).

conn.execute("""create table workflow (
                program_id      int
                )
            """)

#% FACT: has_subprogram(program_id, subprogram_id).

conn.execute("""create table has_subprogram (
                program_id  int,
                sub_program_id      int
                )
            """)

#% FACT: port(port_id, port_type, port_name, qualified_port_name, port_annotation_id, data_id).


conn.execute("""create table port (
                port_id      int     primary key not NULL,
                port_type  int,
                port_name  text,
                qualified_port_name text,
                port_annotation_id int, 
                data_id int 
                )
            """)



# % FACT: port_alias(port_id, alias).

conn.execute("""create table port_alias (
                port_id    int  ,
                alias    text
                )
            """)

#% FACT: has_in_port(block_id, port_id).

conn.execute("""create table has_in_port (
                block_id int,
                port_id    int
                )
            """)

#% FACT: has_out_port(block_id, port_id).

conn.execute("""create table has_out_port (
                block_id int,
                port_id    int
                )
            """)

#% FACT: data(data_id, data_name, qualified_data_name).

conn.execute("""create table data (
                data_id int,
                data_name    text,
                qualified_data_name text
                )
            """)

#% FACT: channel(channel_id, data_id).


conn.execute("""create table channel (
                channel_id int,
                data_id    int
                )
            """)

#% FACT: port_connects_to_channel(port_id, channel_id).

conn.execute("""create table port_connects_to_channel (
                port_id int,
                channel_id    int
                )
            """)
    
# % FACT: inflow_connects_to_channel(port_id, channel_id).
conn.execute("""create table inflow_connects_to_channel (
                port_id int,
                channel_id    int
                )
            """)


#% FACT: outflow_connects_to_channel(port_id, channel_id).
conn.execute("""create table outflow_connects_to_channel (
                port_id int,
                channel_id    int
                )
            """)

In [18]:


read_yw_model(yw_model_file)

In [19]:
sql_steps_in_out_ports = '''
select 
	wf.wf_id as workflow_id , s.program_id as program_id, s.program_name as program_name,
	p.port_name as port_name, p.port_id as port_id, p.port_type as port_type , p.data_id as data_id   
from 
	steps s, port p, has_in_port inp, 
	(select 
		sub_program_id  , program_id as wf_id 
	 from 
		has_subprogram
	) wf
where 
	s.program_id = inp.block_id
and	p.port_id = inp.port_id 
and inp.block_id  = wf.sub_program_id
union 
select 
	wf.wf_id as workflow_id , s.program_id as program_id, s.program_name as program_name,
	p.port_name as port_name, p.port_id as port_id, p.port_type as port_type , p.data_id as data_id 
from 
	steps s, port p, has_out_port out,
	(select 
		sub_program_id  , program_id as wf_id 
	 from 
		has_subprogram
	) wf
where 
	s.program_id = out.block_id
and	p.port_id = out.port_id 
and out.block_id = wf.sub_program_id
'''


sql_wf_ports = '''
select 
	s.program_id, s.program_name, p.port_name, p.port_id, p.port_type, p.data_id  
from 
	steps s, port p, has_in_port inp 
where 
	s.program_id = inp.block_id
and	p.port_id = inp.port_id 
and inp.block_id in 
	(select 
		program_id  
	 from 
		workflow
	)
union 
select 
	s.program_id, s.program_name, p.port_name,p.port_id, p.port_type , p.data_id
from 
	steps s, port p, has_out_port out 
where 
	s.program_id = out.block_id
and	p.port_id = out.port_id 
and out.block_id in 
	(select 
		program_id  
	 from 
		workflow
	)
'''

sql_qual_portname = '''
select 
	distinct p.program_id as workflow_id,  p.port_id,  p.program_name, p.port_name ,p.port_name as qualified_portname, p.port_type , p.data_id
from
	wf_ports p, inflow_connects_to_channel q
 where upper(p.port_type) in ('IN')
 and p.port_id = q.port_id
union 
select
	p.workflow_id, p.port_id, p.program_name, p.port_name, p.program_name || '/' || p.port_name as qualified_portname, p.port_type , p.data_id
from
	cwl_steps_info p
where upper(p.port_type)= 'OUT'
union
select
	p.program_id as workflow_id, p.port_id, p.program_name, p.port_name, p.port_name as qualified_portname, p.port_type , p.data_id
from
	wf_ports p, port po
where p.port_id = po.port_id 
and upper(po.port_name) like '_YW_IN%'
'''

sql_wf_qual_out_port = '''
select 
	p.program_name, q.port_name, p.program_name || '/' || p.port_name as qualified_portname, p.port_type , p.data_id
from 
	cwl_steps_info p , port q
where q.port_id = p.port_id
and p.port_id in 
	(
	select 
		port_id
	from 
		port_connects_to_channel
	where 
		channel_id in 
		(select 
			max(channel_id)
		from 
			outflow_connects_to_channel
		group by port_id
		)
	)
union 
select 
	p.program_name, pa.alias as port_name, p.program_name || '/' || p.port_name as qualified_portname, p.port_type , p.data_id
from 
	cwl_steps_info p , port q, port_alias pa
where q.port_id = p.port_id
and p.port_id = pa.port_id
and p.port_id in 
	(
	select 
		port_id
	from 
		port_connects_to_channel
	where 
		channel_id in 
		(select 
			max(channel_id)
		from 
			outflow_connects_to_channel
		group by port_id
		)
	)
union
select 
	p.qualified_port_name, p.port_name,  p.qualified_port_name, p.port_type , p.data_id
from 
	port p 
where p.port_name like '_YW_OUT%'
'''

sql_dangling_port_id = """
select 
	port_id 
from
	port 
where data_id in 
(
	select distinct data_id from port  
	EXCEPT
	select distinct data_id  from channel
)
"""

sql_port_alias = '''
select 
    port_id, alias
from 
    port_alias'''

#df_dangling_ports = pd.read_sql_query(sql_dangling_port_id, con=conn)

In [20]:
conn.execute('create table cwl_steps_info as ' + sql_steps_in_out_ports)
#conn.execute('create table wf_ports as ' + sql_wf_ports)
#conn.execute('create table qual_portname as ' + sql_qual_portname)

In [21]:
cwl_file_df = pd.DataFrame()
wf_port_df = pd.DataFrame()
qual_portname = pd.DataFrame()
qual_wf_out_port = pd.DataFrame()
df_dangling_ports = pd.DataFrame()
df_port_alias = pd.DataFrame()

In [22]:
cwl_file_df = pd.read_sql_query(sql_steps_in_out_ports, con=conn)
wf_port_df = pd.read_sql_query(sql_wf_ports, con=conn)
df_dangling_ports = pd.read_sql_query(sql_dangling_port_id, con=conn)
df_port_alias = pd.read_sql_query(sql_port_alias, con=conn)

In [23]:
## Add an output port in the ports tables
def ins_out_port(program_name):
    wf_id = cwl_file_df[cwl_file_df['program_name'] == program_name]['workflow_id'].values[0]
    prog_id = cwl_file_df[cwl_file_df['program_name'] == program_name]['program_id'].values[0]
    port_id = cwl_file_df['port_id'].max() + 1
    data_id = cwl_file_df['data_id'].max() + 1
    #print(port_id, data_id)
    port_type = 'OUT'
    port_name = '_YW_OUT_'+ program_name
    qual_prog_name = program_name + '/' + port_name
    sql = """
    insert into port values (?,?,?,?,?,?)
    """
    data = [int(port_id), port_type, port_name,qual_prog_name,port_id,int(data_id)]
    conn.execute(sql,data)
    
    sql = """
    insert into has_out_port values (?,?)
    """
    data = [int(wf_id),int(port_id)]
    conn.execute(sql,data)
    data = [int(prog_id),int(port_id)]
    conn.execute(sql,data)
    conn.commit()

In [24]:
## Add an output port in the ports tables
def ins_link_wf_port(port_id, wf_id,port_type,program_name):
    #print(port_id, data_id)
    new_port_id = get_max_port_id() + 1
    data_id = cwl_file_df[cwl_file_df['port_id'] == port_id]['data_id']
    #print(type(new_port_id))
    
    port_name = cwl_file_df[cwl_file_df['port_id'] == port_id]['port_name'].values[0]
    
    print(port_name)
    if port_type == 'OUT':
        wf_port_name = '_YW_OUT_'+ port_name
        qual_prog_name = program_name + '/' + port_name
        sql_link = """
                   insert into has_out_port values (?,?)
                   """
        values = [int(wf_id),int(new_port_id)]
    else: 
        wf_port_name = '_YW_IN_'+ port_name
        qual_prog_name =  wf_port_name
        sql_link = """
                   insert into has_in_port values (?,?)
                   """   
        values = [int(wf_id),int(new_port_id)]
        
    print(qual_prog_name)
    sql = """
    insert into port values (?,?,?,?,?,?)
    """
    
    data = [int(new_port_id), port_type, wf_port_name,qual_prog_name,port_id,int(data_id)]
    conn.execute(sql,data)
    #print(data)
    #print(values)
    conn.execute(sql_link,values)
    conn.commit()
    
    #rebuild_dataframes()

In [25]:
def get_max_port_id():
    cur = conn.cursor()
    cur.execute('''SELECT max(port_id) from port ''')
    max_port_id = cur.fetchone()
    
    return int(max_port_id[0])

## Check for the dangling ports and create 
## the respective ports

In [26]:
## Get the list of the dangling port id's and pass into the DF. 
for idx in cwl_file_df[cwl_file_df['port_id'].isin(df_dangling_ports['port_id'])].index:
    wf_id = cwl_file_df.loc[idx]['workflow_id']
    port_id = cwl_file_df.loc[idx]['port_id']
    port_type = cwl_file_df.loc[idx]['port_type']
    program_name = cwl_file_df.loc[idx]['program_name']
    ins_link_wf_port(port_id, wf_id,port_type,program_name)

match_result
find_matching_local_authority_source_record/match_result
matching_local_authority_source_record
find_matching_local_authority_source_record/matching_local_authority_source_record
matching_method
find_matching_local_authority_source_record/matching_method
input2_data
_YW_IN_input2_data
final_result
log_rejected_record/final_result
final_result
log_accepted_record/final_result

In [27]:
### Check for the programs without output ports
### use the ins_out_port to create the output port for wf and prog. 

program_name_uniq = cwl_file_df['program_name'].unique()
program_with_out  = cwl_file_df[cwl_file_df['port_type'] == 'OUT']["program_name"].unique()
prog_wo_outport = list(set(program_name_uniq).difference(set(program_with_out)))

for prog in prog_wo_outport:
    #print(prog)
    ins_out_port(prog)

In [28]:
### Reload the dataframes now 

conn.execute('create table wf_ports as ' + sql_wf_ports)
conn.execute('create table qual_portname as ' + sql_qual_portname)

cwl_file_df = pd.read_sql_query(sql_steps_in_out_ports, con=conn)
wf_port_df = pd.read_sql_query(sql_wf_ports, con=conn)
qual_portname = pd.read_sql_query(sql_qual_portname, con=conn)
qual_wf_out_port = pd.read_sql_query(sql_wf_qual_out_port, con=conn)
df_dangling_ports = pd.read_sql_query(sql_dangling_port_id, con=conn)

In [29]:
def get_filename(program_id, is_wf):
    wfid_list = wf_port_df['program_id'].unique()
    if is_wf:
        program_name =wf_port_df[wf_port_df['program_id'] ==program_id]['program_name'].values[0]
        return 'wf_' + program_name + '.cwl'
    elif program_id in wfid_list:      
        program_name = cwl_file_df[cwl_file_df['program_id'] ==program_id]['program_name'].values[0]
        return 'wf' + program_name + '.cwl'
    else:
        program_name = cwl_file_df[cwl_file_df['program_id'] ==program_id]['program_name'].values[0]
        return program_name + '.cwl'

In [30]:
    def write_cwl_file(filename, header, input_params, output_params):
        #print(filename)
        with open(filename,'w+') as writer: 
            writer.write(header)
            writer.write(input_params)
            writer.write(output_params)

In [31]:
def get_wf_steps(workflow_id):
    header_step = "steps: \n "
    buffer=''
    prog_list = cwl_file_df[cwl_file_df['workflow_id'] == workflow_id]['program_id'].unique()
    
    for prog in prog_list: 
        outport_list= []
        prog_name = cwl_file_df[cwl_file_df['program_id'] ==prog]['program_name'].values[0]
        filename = get_filename(prog,False)
        
        buffer = buffer + prog_name + ': \n ' + ' run: ' +filename + ' \n ' + ' in: \n'
        
        for pid in cwl_file_df[cwl_file_df["program_id"]==prog].index:
            
            port_id = cwl_file_df.loc[pid]['port_id'] 
            port_name = cwl_file_df.loc[pid]['port_name'] 
            port_type = cwl_file_df.loc[pid]['port_type']       
            data_id = cwl_file_df.loc[pid]['data_id']
            
            if port_type == 'IN':
                
                filtered_df =  qual_portname[qual_portname["workflow_id"] == workflow_id]
                qn_df = filtered_df[filtered_df["data_id"] == data_id]["qualified_portname"]
                if len(qn_df) == 0 :
                    alias = df_port_alias[df_port_alias["port_id"]==port_id]['alias']
                    if len(alias) != 0 :
                        qname = alias.values[0]
                    else:
                        qname = port_name
                else: 
                    qname = qn_df.values[0]
                buffer = buffer + '   ' + port_name + ': ' + qname + '\n'
            else: 
                outport_list.append(port_name)
            #break
        buffer = buffer + "  out: [" + ','.join(outport_list) + '] \n '    
    
    return header_step + buffer

In [32]:
print(get_wf_steps(1))

steps:
 validate_scientificName_field_of_data:
  run: wfvalidate_scientificName_field_of_data.cwl
  in:
   input1_data: input1_data
   local_authority_source: local_authority_source
  out: [_YW_OUT_match_result,_YW_OUT_matching_local_authority_source_record,_YW_OUT_matching_method,name_val_log,output1_data,record_id_data]
 validate_eventDate_field_of_data:
  run: wfvalidate_eventDate_field_of_data.cwl
  in:
   _YW_IN_input2_data: _YW_IN_input2_data
   output1_data: validate_scientificName_field_of_data/output1_data
   record_id_data: validate_scientificName_field_of_data/record_id_data
  out: [_YW_OUT_final_result,_YW_OUT_final_result,date_val_log,output2_data]

In [33]:
## creating the cwl files and the wf.

In [34]:

wf_id = cwl_file_df['workflow_id'].unique()
prog_list = cwl_file_df['program_id'].unique()
dirname = 'example_sql/' + wf_port_df[wf_port_df["program_id"] ==1]['program_name'].values[0]

print(dirname)

example_sql/clean_name_and_date_workflow

In [35]:
for prog_id in prog_list: 

    cwl_file_header = '''
#!/usr/bin/env cwl-runner
cwlVersion: v1.0
class: CommandLineTool
'''
    input_buffer = 'inputs: \n'
    output_buffer = 'outputs: \n'
    
    pname = cwl_file_df[cwl_file_df["program_id"] == [prog_id]]['program_name'].values[0]
    #print(prog_id)
    filename = dirname + '/' + get_filename(prog_id, False)

    #print(filename)
    for p_idx in cwl_file_df[cwl_file_df["program_id"] == [prog_id]].index:
        #pname = cwl_file_df.loc[p_idx]['program_name']
        pid = cwl_file_df.loc[p_idx]['program_id']
        #print(pname)
        port_name = cwl_file_df.loc[p_idx]['port_name'] 
        port_type = cwl_file_df.loc[p_idx]['port_type'] 
        #print(port_name, port_type)

        if port_type == 'IN':
            input_buffer = input_buffer + ' '+ port_name + ': \n'+ '  type: string \n \n'
            #print(input_buffer)
        else: 
            output_buffer = output_buffer + ' '+ port_name + ': \n'+ '  type: string \n \n'
            #print(output_buffer)
    
    output_buffer = output_buffer + "baseCommand: "
    write_cwl_file(filename, cwl_file_header, input_buffer, output_buffer)

In [36]:
cwl_wf_header = '''
#!/usr/bin/env cwl-runner
cwlVersion: v1.0
class: Workflow
requirements:
    - class: SubworkflowFeatureRequirement

'''
workflow_list = wf_port_df['program_id'].unique()

for id in sorted(workflow_list, reverse=True):
    input_buffer = 'inputs: \n'
    output_buffer = 'outputs: \n'
    #print(id)
    wf_name = wf_port_df[wf_port_df['program_id']== id]["program_name"].values[0]
    filename= dirname +'/' + get_filename(id, True)
    #print(filename)
    for p_id in wf_port_df[wf_port_df['program_id']== id].index:
        prog_id = wf_port_df.loc[p_id]['program_id']
        #print(int(prog_id))


        pname = wf_port_df.loc[p_id]['program_name']
        port_name = wf_port_df.loc[p_id]['port_name'] 
        port_type = wf_port_df.loc[p_id]['port_type'] 


        if port_type == 'IN':
            input_buffer = input_buffer + ' '+ port_name + ': \n'+ '  type: string \n \n'
            #print(input_buffer)
        else: 
            qname = qual_wf_out_port[qual_wf_out_port['port_name'] == port_name]['qualified_portname'].values[0]
            output_buffer = output_buffer + '  ' +  port_name  + ': \n' + '   type: string \n   outputSource: '+ qname +'\n'
            #print(output_buffer)
    
    wf_step_contents = get_wf_steps(id)
    write_cwl_file(filename,cwl_wf_header + input_buffer, output_buffer, wf_step_contents)

In [37]:
qual_portname[qual_portname['data_id'] ==13]['workflow_id']

10    2
Name: workflow_id, dtype: int64

In [38]:
qual_portname

,workflow_id,port_id,program_name,port_name,qualified_portname,port_type,data_id
0,1,1,clean_name_and_date_workflow,input1_data,input1_data,IN,1
1,1,2,clean_name_and_date_workflow,local_authority_source,local_authority_source,IN,2
2,1,8,validate_scientificName_field_of_data,output1_data,validate_scientificName_field_of_data/output1_...,OUT,8
3,1,9,validate_scientificName_field_of_data,name_val_log,validate_scientificName_field_of_data/name_val...,OUT,9
4,1,10,validate_scientificName_field_of_data,record_id_data,validate_scientificName_field_of_data/record_i...,OUT,10
5,1,74,validate_eventDate_field_of_data,output2_data,validate_eventDate_field_of_data/output2_data,OUT,34
6,1,75,validate_eventDate_field_of_data,date_val_log,validate_eventDate_field_of_data/date_val_log,OUT,35
7,2,6,validate_scientificName_field_of_data,local_authority_source,local_authority_source,IN,6
8,2,7,validate_scientificName_field_of_data,input1_data,input1_data,IN,7
9,2,11,initialize_run,name_val_log,initialize_run/name_val_log,OUT,11
10,2,13,read_scientificName,local_authority_source_scientificName_lst,read_scientificName/local_authority_source_sci...,OUT,13
11,2,15,read_input1_data_records,original_scientificName,read_input1_data_records/original_scientificName,OUT,15
12,2,16,read_input1_data_records,original_authorship,read_input1_data_records/original_authorship,OUT,16
13,2,17,read_input1_data_records,RecordID,read_input1_data_records/RecordID,OUT,17
14,2,18,read_input1_data_records,original_others,read_input1_data_records/original_others,OUT,18
15,2,19,read_input1_data_records,record_id_data,read_input1_data_records/record_id_data,OUT,19
16,2,20,read_input1_data_records,name_val_log,read_input1_data_records/name_val_log,OUT,11
17,2,22,check_empty_value,check_result,check_empty_value/check_result,OUT,20
18,2,23,check_empty_value,original_scientificName,check_empty_value/original_scientificName,OUT,21
19,2,24,check_empty_value,original_scientificName,check_empty_value/original_scientificName,OUT,22
20,2,25,check_empty_value,name_val_log,check_empty_value/name_val_log,OUT,11
21,2,29,log_rejected_record,final_result,log_rejected_record/final_result,OUT,23
22,2,30,log_rejected_record,rejected_record_count,log_rejected_record/rejected_record_count,OUT,24
23,2,31,log_rejected_record,name_val_log,log_rejected_record/name_val_log,OUT,11
24,2,34,find_matching_local_authority_source_record,match_result,find_matching_local_authority_source_record/ma...,OUT,25
25,2,35,find_matching_local_authority_source_record,matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,26
26,2,36,find_matching_local_authority_source_record,matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,27
27,2,37,find_matching_local_authority_source_record,matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,28
28,2,38,find_matching_local_authority_source_record,final_result,find_matching_local_authority_source_record/fi...,OUT,23
29,2,39,find_matching_local_authority_source_record,matching_method,find_matching_local_authority_source_record/ma...,OUT,29
...,...,...,...,...,...,...,...
35,2,56,log_updated_record,name_val_log,log_updated_record/name_val_log,OUT,11
36,2,60,log_accepted_record,accepted_record_count,log_accepted_record/accepted_record_count,OUT,32
37,2,61,log_accepted_record,name_val_log,log_accepted_record/name_val_log,OUT,11
38,2,68,write_output1_data,output1_data,write_output1_data/output1_data,OUT,33
39,2,71,log_summary,name_val_log,log_summary/name_val_log,OUT,11
40,16,73,validate_eventDate_field_of_data,record_id_data,record_id_data,IN,10
41,16,76,initialize_run,date_val_log,initialize_run/date_val_log,OUT,36
42,16,79,read_input2_data_records,original2_eventDate,read_input2_data_records/original2_eventDate,OUT,39
43,16,80,read_input2_data_records,RecordID,read_input2_data_records/RecordID,OUT,40
44,16,81,read_input2_data_records,original2_others,read_input2_data_records/original2_others,OUT,41
45,16,82,read_input2_data_records,date_val_log,read_input2_data_records/date_val_log,OUT,36
46,16,84,check_empty_value,check_result,check_empty_value/check_result,OUT,42
47,16,85,check_empty_value,original2_eventDate,check_empty_value/original2_eventDate,OUT,43
48,16,86,check_empty_value,original2_eventDate,check_empty_value/original2_eventDate,OUT,44
49,16,87,check_empty_value,date_val_log,check_empty_value/date_val_log,OUT,36
50,16,91,log_rejected_record,final_result,log_rejected_record/final_result,OUT,45
51,16,92,log_rejected_record,rejected2_record_count,log_rejected_record/rejected2_record_count,OUT,46
52,16,93,log_rejected_record,date_val_log,log_rejected_record/date_val_log,OUT,36
53,16,95,check_ISO_compliant,match_result,check_ISO_compliant/match_result,OUT,47
54,16,96,check_ISO_compliant,original2_eventDate,check_ISO_compliant/original2_eventDate,OUT,48
55,16,97,check_ISO_compliant,original2_eventDate,check_ISO_compliant/original2_eventDate,OUT,49
56,16,98,check_ISO_compliant,date_val_log,check_ISO_compliant/date_val_log,OUT,36
57,16,101,update_eventDate,updated2_eventDate,update_eventDate/updated2_eventDate,OUT,50
58,16,102,update_eventDate,date_val_log,update_eventDate/date_val_log,OUT,36
59,16,106,log_accepted_record,final_result,log_accepted_record/final_result,OUT,45
60,16,107,log_accepted_record,accepted2_record_count,log_accepted_record/accepted2_record_count,OUT,51
61,16,108,log_accepted_record,date_val_log,log_accepted_record/date_val_log,OUT,36
62,16,113,write_output2_data,output2_data,write_output2_data/output2_data,OUT,52
63,16,116,log_summary,date_val_log,log_summary/date_val_log,OUT,36
64,16,131,validate_eventDate_field_of_data,_YW_IN_input2_data,_YW_IN_input2_data,IN,37

In [39]:
cwl_file_df

,workflow_id,program_id,program_name,port_name,port_id,port_type,data_id
0,1,2,validate_scientificName_field_of_data,_YW_OUT_match_result,128,OUT,25
1,1,2,validate_scientificName_field_of_data,_YW_OUT_matching_local_authority_source_record,129,OUT,26
2,1,2,validate_scientificName_field_of_data,_YW_OUT_matching_method,130,OUT,29
3,1,2,validate_scientificName_field_of_data,input1_data,7,IN,7
4,1,2,validate_scientificName_field_of_data,local_authority_source,6,IN,6
5,1,2,validate_scientificName_field_of_data,name_val_log,9,OUT,9
6,1,2,validate_scientificName_field_of_data,output1_data,8,OUT,8
7,1,2,validate_scientificName_field_of_data,record_id_data,10,OUT,10
8,1,16,validate_eventDate_field_of_data,_YW_IN_input2_data,131,IN,37
9,1,16,validate_eventDate_field_of_data,_YW_OUT_final_result,132,OUT,45
10,1,16,validate_eventDate_field_of_data,_YW_OUT_final_result,133,OUT,45
11,1,16,validate_eventDate_field_of_data,date_val_log,75,OUT,35
12,1,16,validate_eventDate_field_of_data,output1_data,72,IN,8
13,1,16,validate_eventDate_field_of_data,output2_data,74,OUT,34
14,1,16,validate_eventDate_field_of_data,record_id_data,73,IN,10
15,2,3,initialize_run,name_val_log,11,OUT,11
16,2,4,read_scientificName,local_authority_source,12,IN,12
17,2,4,read_scientificName,local_authority_source_scientificName_lst,13,OUT,13
18,2,5,read_input1_data_records,RecordID,17,OUT,17
19,2,5,read_input1_data_records,input1_data,14,IN,14
20,2,5,read_input1_data_records,name_val_log,20,OUT,11
21,2,5,read_input1_data_records,original_authorship,16,OUT,16
22,2,5,read_input1_data_records,original_others,18,OUT,18
23,2,5,read_input1_data_records,original_scientificName,15,OUT,15
24,2,5,read_input1_data_records,record_id_data,19,OUT,19
25,2,6,check_empty_value,check_result,22,OUT,20
26,2,6,check_empty_value,name_val_log,25,OUT,11
27,2,6,check_empty_value,original_scientificName,21,IN,15
28,2,6,check_empty_value,original_scientificName,23,OUT,21
29,2,6,check_empty_value,original_scientificName,24,OUT,22
...,...,...,...,...,...,...,...
87,16,19,check_empty_value,original2_eventDate,86,OUT,44
88,16,20,log_rejected_record,RecordID,88,IN,40
89,16,20,log_rejected_record,check_result,90,IN,42
90,16,20,log_rejected_record,date_val_log,93,OUT,36
91,16,20,log_rejected_record,final_result,91,OUT,45
92,16,20,log_rejected_record,original2_eventDate,89,IN,43
93,16,20,log_rejected_record,rejected2_record_count,92,OUT,46
94,16,21,check_ISO_compliant,date_val_log,98,OUT,36
95,16,21,check_ISO_compliant,match_result,95,OUT,47
96,16,21,check_ISO_compliant,original2_eventDate,94,IN,44
97,16,21,check_ISO_compliant,original2_eventDate,96,OUT,48
98,16,21,check_ISO_compliant,original2_eventDate,97,OUT,49
99,16,22,update_eventDate,date_val_log,102,OUT,36
100,16,22,update_eventDate,match_result,100,IN,47
101,16,22,update_eventDate,original2_eventDate,99,IN,49
102,16,22,update_eventDate,updated2_eventDate,101,OUT,50
103,16,23,log_accepted_record,RecordID,103,IN,40
104,16,23,log_accepted_record,accepted2_record_count,107,OUT,51
105,16,23,log_accepted_record,date_val_log,108,OUT,36
106,16,23,log_accepted_record,final_result,106,OUT,45
107,16,23,log_accepted_record,original2_eventDate,105,IN,48
108,16,23,log_accepted_record,updated2_eventDate,104,IN,50
109,16,24,write_output2_data,original2_eventDate,111,IN,48
110,16,24,write_output2_data,original2_eventDate,112,IN,43
111,16,24,write_output2_data,original2_others,109,IN,41
112,16,24,write_output2_data,output2_data,113,OUT,52
113,16,24,write_output2_data,updated2_eventDate,110,IN,50
114,16,25,log_summary,accepted2_record_count,114,IN,51
115,16,25,log_summary,date_val_log,116,OUT,36
116,16,25,log_summary,rejected2_record_count,115,IN,46

In [40]:
qual_wf_out_port

,program_name,port_name,qualified_portname,port_type,data_id
0,find_matching_local_authority_source_record/ma...,_YW_OUT_match_result,find_matching_local_authority_source_record/ma...,OUT,25
1,find_matching_local_authority_source_record/ma...,_YW_OUT_matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,26
2,find_matching_local_authority_source_record/ma...,_YW_OUT_matching_method,find_matching_local_authority_source_record/ma...,OUT,29
3,log_accepted_record/final_result,_YW_OUT_final_result,log_accepted_record/final_result,OUT,45
4,log_rejected_record/final_result,_YW_OUT_final_result,log_rejected_record/final_result,OUT,45
5,log_summary,date_val_log,log_summary/date_val_log,OUT,36
6,log_summary,name_val_log,log_summary/name_val_log,OUT,11
7,read_input1_data_records,record_id_data,read_input1_data_records/record_id_data,OUT,19
8,validate_eventDate_field_of_data,date_val_log,validate_eventDate_field_of_data/date_val_log,OUT,35
9,validate_eventDate_field_of_data,output2_data,validate_eventDate_field_of_data/output2_data,OUT,34
10,validate_scientificName_field_of_data,name_val_log,validate_scientificName_field_of_data/name_val...,OUT,9
11,write_output1_data,output1_data,write_output1_data/output1_data,OUT,33
12,write_output2_data,output2_data,write_output2_data/output2_data,OUT,52

In [41]:
qual_portname

,workflow_id,port_id,program_name,port_name,qualified_portname,port_type,data_id
0,1,1,clean_name_and_date_workflow,input1_data,input1_data,IN,1
1,1,2,clean_name_and_date_workflow,local_authority_source,local_authority_source,IN,2
2,1,8,validate_scientificName_field_of_data,output1_data,validate_scientificName_field_of_data/output1_...,OUT,8
3,1,9,validate_scientificName_field_of_data,name_val_log,validate_scientificName_field_of_data/name_val...,OUT,9
4,1,10,validate_scientificName_field_of_data,record_id_data,validate_scientificName_field_of_data/record_i...,OUT,10
5,1,74,validate_eventDate_field_of_data,output2_data,validate_eventDate_field_of_data/output2_data,OUT,34
6,1,75,validate_eventDate_field_of_data,date_val_log,validate_eventDate_field_of_data/date_val_log,OUT,35
7,2,6,validate_scientificName_field_of_data,local_authority_source,local_authority_source,IN,6
8,2,7,validate_scientificName_field_of_data,input1_data,input1_data,IN,7
9,2,11,initialize_run,name_val_log,initialize_run/name_val_log,OUT,11
10,2,13,read_scientificName,local_authority_source_scientificName_lst,read_scientificName/local_authority_source_sci...,OUT,13
11,2,15,read_input1_data_records,original_scientificName,read_input1_data_records/original_scientificName,OUT,15
12,2,16,read_input1_data_records,original_authorship,read_input1_data_records/original_authorship,OUT,16
13,2,17,read_input1_data_records,RecordID,read_input1_data_records/RecordID,OUT,17
14,2,18,read_input1_data_records,original_others,read_input1_data_records/original_others,OUT,18
15,2,19,read_input1_data_records,record_id_data,read_input1_data_records/record_id_data,OUT,19
16,2,20,read_input1_data_records,name_val_log,read_input1_data_records/name_val_log,OUT,11
17,2,22,check_empty_value,check_result,check_empty_value/check_result,OUT,20
18,2,23,check_empty_value,original_scientificName,check_empty_value/original_scientificName,OUT,21
19,2,24,check_empty_value,original_scientificName,check_empty_value/original_scientificName,OUT,22
20,2,25,check_empty_value,name_val_log,check_empty_value/name_val_log,OUT,11
21,2,29,log_rejected_record,final_result,log_rejected_record/final_result,OUT,23
22,2,30,log_rejected_record,rejected_record_count,log_rejected_record/rejected_record_count,OUT,24
23,2,31,log_rejected_record,name_val_log,log_rejected_record/name_val_log,OUT,11
24,2,34,find_matching_local_authority_source_record,match_result,find_matching_local_authority_source_record/ma...,OUT,25
25,2,35,find_matching_local_authority_source_record,matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,26
26,2,36,find_matching_local_authority_source_record,matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,27
27,2,37,find_matching_local_authority_source_record,matching_local_authority_source_record,find_matching_local_authority_source_record/ma...,OUT,28
28,2,38,find_matching_local_authority_source_record,final_result,find_matching_local_authority_source_record/fi...,OUT,23
29,2,39,find_matching_local_authority_source_record,matching_method,find_matching_local_authority_source_record/ma...,OUT,29
...,...,...,...,...,...,...,...
35,2,56,log_updated_record,name_val_log,log_updated_record/name_val_log,OUT,11
36,2,60,log_accepted_record,accepted_record_count,log_accepted_record/accepted_record_count,OUT,32
37,2,61,log_accepted_record,name_val_log,log_accepted_record/name_val_log,OUT,11
38,2,68,write_output1_data,output1_data,write_output1_data/output1_data,OUT,33
39,2,71,log_summary,name_val_log,log_summary/name_val_log,OUT,11
40,16,73,validate_eventDate_field_of_data,record_id_data,record_id_data,IN,10
41,16,76,initialize_run,date_val_log,initialize_run/date_val_log,OUT,36
42,16,79,read_input2_data_records,original2_eventDate,read_input2_data_records/original2_eventDate,OUT,39
43,16,80,read_input2_data_records,RecordID,read_input2_data_records/RecordID,OUT,40
44,16,81,read_input2_data_records,original2_others,read_input2_data_records/original2_others,OUT,41
45,16,82,read_input2_data_records,date_val_log,read_input2_data_records/date_val_log,OUT,36
46,16,84,check_empty_value,check_result,check_empty_value/check_result,OUT,42
47,16,85,check_empty_value,original2_eventDate,check_empty_value/original2_eventDate,OUT,43
48,16,86,check_empty_value,original2_eventDate,check_empty_value/original2_eventDate,OUT,44
49,16,87,check_empty_value,date_val_log,check_empty_value/date_val_log,OUT,36
50,16,91,log_rejected_record,final_result,log_rejected_record/final_result,OUT,45
51,16,92,log_rejected_record,rejected2_record_count,log_rejected_record/rejected2_record_count,OUT,46
52,16,93,log_rejected_record,date_val_log,log_rejected_record/date_val_log,OUT,36
53,16,95,check_ISO_compliant,match_result,check_ISO_compliant/match_result,OUT,47
54,16,96,check_ISO_compliant,original2_eventDate,check_ISO_compliant/original2_eventDate,OUT,48
55,16,97,check_ISO_compliant,original2_eventDate,check_ISO_compliant/original2_eventDate,OUT,49
56,16,98,check_ISO_compliant,date_val_log,check_ISO_compliant/date_val_log,OUT,36
57,16,101,update_eventDate,updated2_eventDate,update_eventDate/updated2_eventDate,OUT,50
58,16,102,update_eventDate,date_val_log,update_eventDate/date_val_log,OUT,36
59,16,106,log_accepted_record,final_result,log_accepted_record/final_result,OUT,45
60,16,107,log_accepted_record,accepted2_record_count,log_accepted_record/accepted2_record_count,OUT,51
61,16,108,log_accepted_record,date_val_log,log_accepted_record/date_val_log,OUT,36
62,16,113,write_output2_data,output2_data,write_output2_data/output2_data,OUT,52
63,16,116,log_summary,date_val_log,log_summary/date_val_log,OUT,36
64,16,131,validate_eventDate_field_of_data,_YW_IN_input2_data,_YW_IN_input2_data,IN,37